body{
    margin: 0px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #1ed760;
}


nav{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 132px;
    height: 44.99px;
    
}

main{
    height: 969px;
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height: 530px;
    background-color: black;
}

.nav-item{
    padding: 28 17px;
    font-weight: 700;
}



.headline{
    font-size: 146px;
    font-weight: 900;
    color: #1ed760;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
}

.headline-first{
    position: relative;
    left: -2.5em;
}

.sub-headline{
    color: #1ed760;
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
}

.button-area{
    text-align: center;
    
}

.button-style{
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-weight: 700;
    color: #2941ab;
    font-size: inherit;
}

.button-style:hover{
    transform: scale(1.1);
}

footer{
    height: 530px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}



.first-box{
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    padding: 15 15px;
}

.subtitle{
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
}

.footer-menu-item{
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 3px;
}

.second-box{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.icon-box{
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}



